@import 'config';

#markdown-toc {
    margin-left: -20px;
    margin-right: 20px;
    overflow-y: auto;
    color: $color-fg;
    background: $color-bg;
    width: $toc-width;
    min-width: $toc-minWidth;
    max-width: $toc-maxWidth;
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px 0 #000;
    transition: width #{calc($button-duration / 1000) + 's'} ease-in-out, min-width #{calc($button-duration / 1000) + 's'} ease-in-out;
    ul {
        padding: calc($button-size * 2) 0;
        list-style: none;
    }
    a {
        color: $color-fg;
        text-decoration: none;
        display: block;
        width: 100%;
        line-height: $toc-lineHeight;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    [class*="toc-h"] {
        &:hover {
            background: $color-hover;
        }
        &.toc-active {
            background: $color-active;
        }
        :before {
            content: "";
        }
    }
    @for $i from 1 through 4 {
        .toc-h#{$i} {
            font-size: #{1.3em - calc(($i - 1) / 5)};
            :before {
                padding-left: calc(#{$toc-shiftWidth * ($i - 1)} + #{$button-size});
            }
        }
    }
}

.toc-button {
    position: fixed;
    top: calc($button-size / 2);
    margin-left: calc($button-size / 2);
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    background: $button-color-bg;
    cursor: pointer;
    transition: transform #{calc($button-duration / 1000) + 's'} linear;
    &:before, &:after {
        transform: rotate(-45deg);
        position: absolute;
        background-color: $color-fg;
        border-radius: $button-size;
        content: "";
    }
    &:before {
        width: 75%;
        height: 12.5%;
        top: 43.75%;
        left: 12.5%;
    }
    &:after {
        width: 12.5%;
        height: 75%;
        top: 12.5%;
        left: 43.75%;
    }
}
